@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: rgb(121, 93, 143);
    height: 100vh;
    width: 100vw;
}

main{
    position:relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;

    transition: width 1s, height 1s; 
}

section#login > div#imagem{
    display: block;
    background:rgb(121, 93, 143 ) url(../imagens/tela.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1{

    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {

    font-size: 0.8em;
}

form > div.campo{
    background-color: white;
    border: 2px solid blueviolet;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}
div.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: rgb(4, 224, 4);
    font-size: 1em;
    width: calc(100% - 30px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 161, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

form > input[type=submit]:hover{
    background-color: rgb(0, 197, 0);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: rgb(0, 61, 0);
    border: 1px rgb(0, 198, 0) solid ;
    border-radius: 7px;
    text-decoration: none;

}

form > a.botao:hover{
    background-color:rgb(0, 198, 0) ;
}

form > a.botao > i {
    font-size: 0.8em;
}
